# PYTHON DATA ANALYSIS

## Outline
- Data Analysis Steps
- Full Data Analysis Case-study
    - BikeStores Analysis

# Full Data Analysis Case-study (BikeStores Analysis)

### 1] Libraries & Data Importing

##### Import libraries and read in the BikeStores csv file

In [28]:
import pandas as pd 
import numpy as np

In [29]:
# read data 
BikeStores = pd.read_csv(r"E:\NTI - Python\Python\Full Project\BikeStores.csv")

### 2] Data Understanding (Asking Questions)

In [30]:
#1- read data
#2- print head and tail
#3- info about data
#4- describe data
#5- Check missing values
#6- if missing values in any column ---> handle
#7- unique values and value count for each column
#8- shape of data

##### Check the content of the DataFrame

In [31]:
BikeStores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4722 entries, 0 to 4721
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       4722 non-null   int64
 1   customers      4722 non-null   object
 2   city           4722 non-null   object
 3   state          4722 non-null   object
 4   order_date     4722 non-null   object
 5   total_units    4722 non-null   int64
 6   revenue        4722 non-null   float64
 7   product_name   4722 non-null   object
 8   category_name  4722 non-null   object
 9   brand_name     4722 non-null   object
 10  store_name     4722 non-null   object
 11  sales_rep      4722 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 442.8+ KB

In [32]:
BikeStores.head()

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
1,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,599.99,Electra Townie Original 7D EQ - Women's - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland

##### How many rows and columns are there?

In [33]:
# Rows, Columns
BikeStores.shape

(4722, 12)

##### Check the data types

In [34]:
# check data type
BikeStores.dtypes

order_id           int64
customers         object
city              object
state             object
order_date        object
total_units        int64
revenue          float64
product_name      object
category_name     object
brand_name        object
store_name        object
sales_rep         object
dtype: object

In [35]:
# Statistical Summary
BikeStores.describe()

          order_id  total_units       revenue
count  4722.000000  4722.000000   4722.000000
mean    821.265354     1.498941   1816.812554
std     465.152168     0.500052   2228.160984
min       1.000000     1.000000     89.990000
25%     423.250000     1.000000    539.980000
50%     828.500000     1.000000    939.980000
75%    1226.000000     2.000000   1999.980000
max    1615.000000     2.000000  23999.980000

### 3] Data Wrangling (Cleaning & Manipulation)

##### Are there any missing / duplicated data?

In [36]:
BikeStores.isnull().sum()

order_id         0
customers        0
city             0
state            0
order_date       0
total_units      0
revenue          0
product_name     0
category_name    0
brand_name       0
store_name       0
sales_rep        0
dtype: int64

#remove null
#Replace >> 
## Numerical>> Mean , Categorical >> Mode
data.fillna(....)
data.dropna()

In [37]:
# Remove null
BikeStores.dropna().head(1)

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,Pleasanton,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland

In [38]:
# replace null with mean
BikeStores["revenue"].fillna(BikeStores["revenue"].mean())
# replace null with mode
BikeStores["category_name"].fillna(BikeStores["revenue"].mode()[0])

0         Cruisers Bicycles
1         Cruisers Bicycles
2       Cyclocross Bicycles
3            Mountain Bikes
4            Mountain Bikes
               ...
4717         Mountain Bikes
4718             Road Bikes
4719      Cruisers Bicycles
4720             Road Bikes
4721         Electric Bikes
Name: category_name, Length: 4722, dtype: object

In [39]:
# Check for duplicated data

BikeStores.duplicated().sum()

np.int64(0)

##### Double-check for the columns names and update any of them if needed

In [40]:
BikeStores.columns

Index(['order_id', 'customers', 'city', 'state', 'order_date', 'total_units',
       'revenue', 'product_name', 'category_name', 'brand_name', 'store_name',
       'sales_rep'],
      dtype='object')

##### Can you convert the City column to UpperCases?

In [45]:
BikeStores['city'] = BikeStores['city'].str.upper()

In [46]:
BikeStores['city']

0       PLEASANTON
1       PLEASANTON
2       PLEASANTON
3       PLEASANTON
4       PLEASANTON
           ...
4717       HOUSTON
4718       HOUSTON
4719        FORNEY
4720        FORNEY
4721        FORNEY
Name: city, Length: 4722, dtype: object

### 4] Data Analysis & Visualization (EDA & Statistical Analysis)
#### Exploratory Data Analysis

In [47]:
#Explorare data
print(BikeStores["city"].value_counts())

city
SCARSDALE              61
MOUNT VERNON           60
SAN ANGELO             53
BALLSTON SPA           52
CANANDAIGUA            50
                       ..
SPRINGFIELD GARDENS     3
MIDDLE VILLAGE          3
YUBA CITY               3
WESTBURY                2
TONAWANDA               2
Name: count, Length: 195, dtype: int64

##### What is the average Revenue?

In [48]:
BikeStores['revenue'].mean()

np.float64(1816.812554002541)

##### What were the highest and lowest Revenue?

In [56]:
print('max revenue', max(BikeStores['revenue']))
print('min revenue', min(BikeStores['revenue']))

max revenue 23999.98
min revenue 89.99

##### How many orders have 'Road Bikes'  as a category name ?

In [62]:
BikeStores.groupby(BikeStores['category_name'])['order_id'].sum()

category_name
Children Bicycles       689444
Comfort Bicycles        430472
Cruisers Bicycles      1048599
Cyclocross Bicycles     163523
Electric Bikes          201041
Mountain Bikes          908716
Road Bikes              436220
Name: order_id, dtype: int64

##### Display the data which revenue greater than 10000

In [64]:
BikeStores[BikeStores['revenue']> 1000]

,order_id,customers,city,state,order_date,total_units,revenue,product_name,category_name,brand_name,store_name,sales_rep
0,1,Johnathan Velazquez,PLEASANTON,CA,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Santa Cruz Bikes,Mireya Copeland
2,1,Johnathan Velazquez,PLEASANTON,CA,1/1/2016,2,3098.00,Surly Straggler - 2016,Cyclocross Bicycles,Surly,Santa Cruz Bikes,Mireya Copeland
3,1,Johnathan Velazquez,PLEASANTON,CA,1/1/2016,1,2899.99,Trek Fuel EX 8 29 - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
4,1,Johnathan Velazquez,PLEASANTON,CA,1/1/2016,2,3599.98,Trek Remedy 29 Carbon Frameset - 2016,Mountain Bikes,Trek,Santa Cruz Bikes,Mireya Copeland
5,2,Jaqueline Cummings,HUNTINGTON STATION,NY,1/1/2016,2,1199.98,Electra Townie Original 7D EQ - 2016,Cruisers Bicycles,Electra,Baldwin Bikes,Marcelene Boyer
...,...,...,...,...,...,...,...,...,...,...,...,...
4715,1613,Debra Burks,ORCHARD PARK,NY,18/11/2018,1,4999.99,Trek Domane SL 7 Women's - 2018,Road Bikes,Trek,Baldwin Bikes,Marcelene Boyer
4717,1614,Dorthey Jackson,HOUSTON,TX,28/11/2018,1,1499.00,Surly Krampus - 2018,Mountain Bikes,Surly,Rowlett Bikes,Kali Vargas
4718,1614,Dorthey Jackson,HOUSTON,TX,28/11/2018,2,4599.98,Trek Emonda ALR 6 - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4720,1615,Sarita Parks,FORNEY,TX,28/12/2018,1,2499.99,Trek Domane SL 5 Disc - 2018,Road Bikes,Trek,Rowlett Bikes,Kali Vargas
4721,1615,Sarita Parks,FORNEY,TX,28/12/2018,2,4599.98,Trek Verve+ Lowstep - 2018,Electric Bikes,Trek,Rowlett Bikes,Kali Vargas

##### what is the total revenue for each Brand ?

In [65]:
BikeStores.groupby(['brand_name'])['revenue'].sum()

brand_name
Electra         1344143.79
Haro             207096.69
Heller           193798.71
Pure Cycles      166164.00
Ritchey           88498.82
Strider            4849.75
Sun Bicycles     381919.69
Surly           1063135.82
Trek            5129381.61
Name: revenue, dtype: float64

##### what is the total revenue for each Category Name ?

In [66]:
BikeStores.groupby(["category_name"])['revenue'].sum()

category_name
Children Bicycles       327888.21
Comfort Bicycles        438506.87
Cruisers Bicycles      1109151.04
Cyclocross Bicycles     799874.60
Electric Bikes         1020236.85
Mountain Bikes         3030775.71
Road Bikes             1852555.60
Name: revenue, dtype: float64

# GOOD LUCK!